.topmenu {
    position: absolute;
    width: 1250px;
    height: 50px;
    background-color: red;
    top: 0px;
}

.homeimage {
    width: 100%;
    height: 100%;
}

.grid-container {
    position: absolute;
    display: flex;
    gap: 15%;
    top: 30px;
    right: 300px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; /* removes underline */
    color: black;
}

#menulist a {
    text-decoration: none; /* removes underline */
    color: white;
}

.iconmenu {
    position: absolute;
    top: 0px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    left: -600px;
}

.hometext {
    position: relative;
    top: -380px;
    z-index: 1;
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
    font-weight: 520;
}

.hometext1 {
    position: relative;
    top: -370px;
    z-index: 1;
    color: #219ebc;
    font-size: 40px;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 520;
}

.btn {
    position: absolute;
    top: 420px;
    left: 40px;
    background-color: #219ebc;
    width: 160px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.desc {
    position: absolute;
    top: 360px;
    color: white;
    left: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.desc1 {
    position: absolute;
    top: 385px;
    color: white;
    left: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.aboutus {
    position: absolute;
    top: 700px;
    font-size: 31px;
    font-family: 'Poppins', sans-serif;
    left: 45px;
    font-weight: 800;
}

.aboutcontent {
    position: absolute;
    top: 770px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    left: 40px;
}

.aboutline {
    position: absolute;
    top: 745px;
    background-color: black;
    width: 170px;
    height: 0.5px;
    left: 38px;
}

.btn1 {
    position: absolute;
    top: 920px;
    left: 40px;
    background-color: #219ebc;
    width: 160px;
    height: 40px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.aboutimg {
    position: absolute;
    top: 700px;
    left: 630px;
    width: 45%;
    height: 55%;
}

.catimage {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 1100px;
}

.imgrect {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 1100px;
    background-color: #f8f8f8;
}

.category {
    position: absolute;
    top: 1150px;
    font-size: 31px;
    font-family: 'Poppins', sans-serif;
    left: 550px;
    font-weight: 800;
}

.catline {
    position: absolute;
    top: 1195px;
    background-color: black;
    width: 190px;
    height: 0.5px;
    left: 550px;
}

.rect1 {
    position: absolute;
    top: 1250px;
    width: 330px;
    height: 200px;
    background-color: white;
    left: 90px;
}

.aboutimg1 {
    position: absolute;
    width: 100%;
    height: 80%;
}

.catename {
    position: absolute;
    top: 170px;
    left: 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.btncatche {
    position: absolute;
    top: 165px;
    left: 180px;
    background-color: #219ebc;
    width: 100px;
    height: 30px;
    box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn12
{
    background-color:red;
}
